
.app-nav {
	border-top: solid 3px #58488d;
	border-bottom: solid 1px $color-grey-75;
	background-color: $color-grey-25;
	padding: 0 6px;
}


.nav-button {
	font-size: 12px;
	border: none;
	background: none;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 0;
	cursor: default;

	&:hover {
		background-color: transparent;
	}

	&:active, .active {
		background-color: darken($color-grey-75, 2%);
	}
}
